/* div.Typeingbox {
    border: 3px red solid;
    height: 500px;
    width: 500px;
 }
 .fallingBox {
    /* padding-left: 10px; */
    /* position: relative;
 } */ 

 .Typeback {
     background-image: url("../../images/coming-soon.jpg");
     height: 682px;
     background-image: cover;
 }