.alphabet-nav {
    width: 100%;
    font-size: 3.5rem;
    color: white;
    margin-bottom: 0px;
    background-color: rgb(104,204,237);
    height: auto;
    font-family: 'Amatic SC', cursive;
}
  
.alphabet-a {
    color: white;
    font-family: 'Amatic SC', cursive;
}
  
.alphabet-a:hover {
    color: rgb(2, 201, 52);
    text-decoration: none;
}
  
.alphabet-nav li {
    display: inline-block;
    padding: 10px 0;
    width: 25%;
    font-family: 'Amatic SC', cursive;
}
  
.alphabet-ul {
    display: flex;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

#rw {
    color: rgb(2, 201, 52);
}

@media only screen and (max-width: 750px) {
    #rw, #cur-sco, #top-sco {
    color: rgb(2, 201, 52);
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    }
}