.alphabet-wrapper {
    background-image: url('https://media.giphy.com/media/xUPGcuomRFMUcsB9nO/giphy.gif');
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
